*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    background: #fff;
}
.container{
    width: 75%;
    margin: 0 auto;
    background: #fff;
}
.btn-redius{
    background: red;
    color: white;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    border: none;
    padding: .8rem 2rem;
    border-radius: 25px;
    letter-spacing: .15rem;
    text-transform: capitalize;
}
.mar-l{
    margin-left: 15px;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left{

    width: 45%;
}
.header-left h1{
    font-size: 3rem;
    font-weight:600;
    margin-bottom: 1rem;

}
.header-left p{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.5rem;

}
.header-left{

}
.header-right {
    width: 55%;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    height: 50vh;
}

}
.header-right img{
    width: 100%;
}
  